[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A general purpose, write-back block cache for Linux.
[access "refs/*"]
	owner = group user/weiqiaomiao
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/weiqiaomiao
	label-Verified = -1..+1 group user/weiqiaomiao
	push = group user/weiqiaomiao
	read = group user/weiqiaomiao
	rebase = group user/weiqiaomiao
	removeReviewer = group user/weiqiaomiao
	submit = group user/weiqiaomiao
[access "refs/heads/*"]
	create = group user/weiqiaomiao
	push = +force group user/weiqiaomiao
	pushMerge = group user/weiqiaomiao
	read = group user/weiqiaomiao
[access "refs/tags/*"]
	push = group user/weiqiaomiao
	push = +force group user/weiqiaomiao
